:root {
    /* Основные цвета */
    --color-coffee: #fce5cc;
    --color-green: #1d4a58;
    --color-black: #000000;
    --color-soft_blue: #cbe4e8;
    --color-for_compare_search: #f4e9de; /* цвет для поиска */
}
