.profile-block {
    display: flex;
    height: 70vh;
    justify-content: center;
    gap: 40px;
    background: no-repeat center/cover
        url("../../../public/images/cards-bg.png");
}

.profile-description {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #fbebd8;
    border-radius: 5px;
    margin-block: 30px;
    align-items: center;
    width: 30vw;
    gap: 30px;
}

.profile-change {
    display: flex;
    flex-direction: column;
    background-color: #fbebd8;
    padding: 30px;
    border-radius: 5px;
    margin-block: 30px;
    width: 30vw;
    align-items: center;
}

.avatar {
    border: 2px solid #1d4a58;
    height: 150px;
    width: 150px;
    object-fit: cover;
}
