.reset-content{
    display: flex;
    flex-direction: column;
    background-color: #fff6ec;
    padding: 30px;
    border-radius: 10px;
    margin-block: 50px;
    width: 30vw;    
    min-height: 50vh;
    gap: 30px;
}

.reset-container {
    display: flex;
    justify-content: center;
}